.form_control {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 15px;
  background-color: #fff !important;
  gap: 15px;
}

/* imputField */

.textfield {
  position: relative;
  width: 100%;
  background-color: inherit;
  margin: 15px 0;
}
.textfield input::placeholder {
  opacity: 0;
  color: transparent;
}
.textfield > input {
  width: 100%;
  height: 60px;
  font-size: 1.2em;
  padding: 10px;
  outline: none;
  border-bottom: 1px solid #ccc;
  border-left: none;
  border-right: none;
  border-top: none;
}

.texfield_outlined > input {
  border: 1px solid #ccc;
  border-color: #cccccc;
  border-radius: 0.2em;
}

.textfield label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
  color: #818181;
  letter-spacing: 1px;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.textfield input:focus + label,
.textfield input:not(:placeholder-shown) + label {
  top: 0;
  font-size: 0.8em;
  color: var(--primary-color);
  background: inherit;
  padding: 7px;
  background-color: #fff;
}

.textfield input:focus {
  border-bottom: 2px solid var(--primary-color);
}

.texfield_outlined input:focus {
  border: 2px solid var(--primary-color);
}

/* textArea */

.textfield textarea::placeholder {
  opacity: 0;
  color: transparent;
}
.textfield > textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 120px;
  font-size: 1.2em;
  padding: 10px;
  outline: none;
  border-bottom: 1px solid #ccc;
  border-left: none;
  border-right: none;
  border-top: none;
}

.texfield_outlined > textarea {
  border: 1px solid #ccc;
  border-color: #cccccc;
  border-radius: 0.2em;
}

.textfield label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
  color: #818181;
  letter-spacing: 1px;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.textfield textarea:focus + label,
.textfield textarea:not(:placeholder-shown) + label {
  top: 0;
  font-size: 0.8em;
  color: var(--primary-color);
  background: inherit;
  padding: 7px;
}

.textfield textarea:focus {
  border-bottom: 2px solid var(--primary-color);
}

.texfield_outlined textarea:focus {
  border: 2px solid var(--primary-color);
}

.checkbox_group {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
}

/* Estilos de checkbox normal */
.checkbox {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
  appearance: none;
  border: 2px solid #009879;
  border-radius: 3px;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  position: relative;
  text-align: center;
}

.checkbox::after {
  content: "";
  display: block;
  text-align: center;
  color: white;
  font-size: 12px;
  line-height: 17px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.checkbox:checked {
  background-color: #0bb79e;
  border-color: #009879;
}

.checkbox:checked::after {
  content: "✓";
  top: -2%;
}

/* Estilos de switch */
.checkbox.switch {
  appearance: none;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.checkbox.switch:checked {
  background-color: #009879;
}

.checkbox.switch:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.checkbox.switch:checked::after {
  content: "";
}

.checkbox.switch:checked:before {
  transform: translateX(20px);
}

/* Estilos de etiqueta */
.checkbox_label {
  font-size: 1em;
  color: #333;
  display: flex;
  align-items: center;
}

/* Checkbox deshabilitado */
.disabled_checkbox {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.disabled_checkbox:before {
  background-color: #a0a0a0;
}

.disabled_checkbox:checked {
  background-color: #ccc;
}

.disabled-checkbox + .checkbox_label {
  color: #a0a0a0;
}
