.container_dialog {
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.alert {
  display: flex;
  background-color: white;
  flex-direction: column;
  margin: auto;
  width: 500px;
  border: 1px solid white;
  border-radius: 4px;
  padding: 12px;
  gap: 40px;
  box-shadow: 10px 5px 5px black;
}

.alert_btn {
  background-color: var(--secondary-color-lighten);
  align-self: self-end;
  color: seashell;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px seashell;
}
