/* Departamentos.css */
.container {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.barra_de_busqueda_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 0 20px; */
}

.agregar > button {
  width: 100%;
  margin-top: 20px;
}

/* .departamento {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: white;
}

.departamento:hover {
  background-color: #f1f1f1;
}

.departamento input[type="checkbox"] {
  margin-right: 10px;
}

.departamento a {
  color: #05a6dd;
  text-decoration: none;
}

.departamento a:hover {
  text-decoration: underline;
}

.encabezados {
  color: #5fd6f2;
} */
